body {
  background-color: darkgray;
  display: flex;

  .App {
    margin: 50px;
    font-size: 18px;
    background-color: darkgray;
    display: flex;
    align-content: center;
  }

  h1 {
    font-size: 30px;
    align-items: center;
  }

}
